<style>
    .td {
        padding: 10px;

    }
</style>
<h1>Data Seluruh Karyawan PT Konoha Makmur</h1>
<hr>
<table border="1">
    <thead>
        <tr>
            <th>Nama</th>
            <th>Gender</th>
            <th>NIP</th>
        </tr>
    </thead>
    <tbody>
        <% for (let i = 0; i < karyawan.length; i++) { %>
            <tr>
                <td class="td"><%= karyawan[i].nama %></td>
                <td class="td"><%= karyawan[i].gender %></td>
                <td class="td"><%= karyawan[i].nip %></td>
                <td class="td">
                    <a href="/karyawan/detail/<%= karyawan[i].id %>">
                        <button>See Detail</button>
                    </a>
                </td>>
            </tr>>
        <% } %>
    </tbody>
</table>